.choose-us-container {
  margin-top: 8rem;
}

.choose-us-container .col {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.choose-us-container .col:nth-child(1),
.choose-us-container .col:nth-child(5),
.choose-us-container .col:nth-child(6),
.choose-us-container .col:nth-child(4) {
  border-left: none;
}

.choose-us-container .row-cols-sm-4 .col {
  border-bottom: 1px solid #ccc; 
}
.choose-us-container .row-cols-sm-4 .col:nth-child(5),
.choose-us-container .row-cols-sm-4 .col:nth-child(6),
.choose-us-container .row-cols-sm-4 .col:nth-child(7),
.choose-us-container .row-cols-sm-4 .col:nth-child(8) {
  border-bottom: none;
}

.choose-us-container .col:nth-child(4n) {
  border-right: none; 
}
.choose-us-container .row {
  display: flex;
  flex-direction: row;
}
.choose-us-container h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.3px;
  color: #263238;
}

@media (max-width: 576px) {
  .choose-us-container .row {
    flex-wrap: wrap; 
  }

  .choose-us-container .col {
    flex: 0 0 50%; 
    max-width: 50%;
    border: none; 
    padding: 10px; 
    box-sizing: border-box; 
  }

  .choose-us-container .d-flex {
    background-color: white; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex !important; 
    align-items: center; 
    flex-direction: column;
  }

  .choose-us-container .d-flex img {
    margin-right: 10px; 
  }

  .choose-us-container h2 {
    text-align: center; 
    font-size: 24px; 
    font-weight: 700;
    font-family: "Inter", sans-serif;
    letter-spacing: 0.3px;
    color: #263238;
  }
}
